extends _layout/default

block title
	title PuntUA

block body
	h1 punt
		strong UA
	.wrapper.virtual
		.label
			label(for="vF1") Foro 1
			input(type="text",name="vF1",id="vF1",placeholder="Foro 1")
			label(for="vTP1") TP 1 individual
			input(type="text",name="vTP1",id="vTP1",placeholder="TP 1 individual")
			label(for="vF2") Foro 2
			input(type="text",name="vF2",id="vF2",placeholder="Foro 2")
			label(for="vTP2") TP 2 individual
			input(type="text",name="vTP2",id="vTP2",placeholder="TP 2 individual")
			label(for="vE1y2") Evaluaci贸n 1 y 2
			input(type="text",name="vE1y2",id="vE1y2",placeholder="Evaluaci贸n 1 y 2")
		.label
			label(for="vF3") Foro 3
			input(type="text",name="vF3",id="vF3",placeholder="Foro 3")
			label(for="vTP3") TP 3 individual
			input(type="text",name="vTP3",id="vTP3",placeholder="TP 3 individual")
			label(for="vF4") Foro 4
			input(type="text",name="vF4",id="vF4",placeholder="Foro 4")
			label(for="vTP4") TP 4 individual
			input(type="text",name="vTP4",id="vTP4",placeholder="TP 4 individual")
			label(for="vE3y4") Evaluaci贸n 3 y 4
			input(type="text",name="vE3y4",id="vE3y4",placeholder="Evaluaci贸n 3 y 4")
		.btn
			a(href="#")#submit calcular
	.resultados
		h1#resultado
		
		h2#para5
		h2#para4
		h2#para3
		h2#para2 