
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: $color-quaternary;
	border: .1rem solid darken($color-quaternary, 5);
	border-radius: .4rem;
	box-sizing: border-box;
	color: $color-primary;
	cursor: pointer;
	display: block;
	font-size: 1.8rem;
	font-weight: 400;
	height: 4rem;
	letter-spacing: 0.1rem;
	line-height: 3.8rem;
	margin: 2rem auto;
	padding: 0 2rem;
	text-align: center;
	text-decoration: none;
	// text-transform: uppercase;
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: $color-primary;
		color: $color-initial;
		outline: 0;
	}

	&.button-outline {
		color: $color-primary;
		background-color: transparent;

		&:hover,
		&:focus {
			color: $color-secondary;
			background-color: transparent;
			border-color: $color-secondary;
		}
	}

	&.button-clear {
		color: $color-primary;
		background-color: transparent;
		border-color: transparent;

		&:hover,
		&:focus {
			color: $color-secondary;
			background-color: transparent;
			border-color: transparent;
		}
	}
}
